<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Location Game!</h1>
    <p>Are you ready to begin your journey?</p>
    <a href="/location/1" class="start-button">Start at Location 1</a>

    <img src="{{ url_for('static', filename='images/buddy_excited.png') }}" alt="Location 1" width="300">
    <img src="{{ url_for('static', filename='images/angry_elf.png') }}" alt="Location 1" width="300">
</body>
</html>